In [7]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep
import regex

In [9]:
# EXTRACCIÓN 10 AÑOS
df= pd.read_csv("2022.csv", index_col=0)
df1= pd.read_csv("2023.csv", index_col=0)
df2= pd.read_csv("2024.csv", index_col=0)
df3= pd.read_csv("2013.csv", index_col=0).reset_index()
df4= pd.read_csv("2014.csv", index_col=0).reset_index()
df5= pd.read_csv("2015.csv", index_col=0).reset_index()
df6= pd.read_csv("2016.csv", index_col=0).reset_index()
df7= pd.read_csv("2017.csv", index_col=0).reset_index()
df8= pd.read_csv("2018.csv", index_col=0).reset_index()
df9= pd.read_csv("2019.csv", index_col=0).reset_index()
df10= pd.read_csv("2020.csv", index_col=0).reset_index()
df11= pd.read_csv("2021.csv", index_col=0).reset_index()

In [11]:
df.columns

Index(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec',
       'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha',
       'horaracha', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin',
       'hrMedia', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin', 'sol'],
      dtype='object')

In [13]:
df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11= df, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11[["fecha",
"indicativo","nombre","provincia", "altitud",
"tmed", "prec", "tmin", "horatmin", "tmax", 
"horatmax", "dir", "velmedia", "racha", "horaracha",
"presMax", 'horaPresMax', 'presMin', 'horaPresMin',
  "hrMedia", "hrMax", "horaHrMax", "hrMin", "horaHrMin", "sol"]]

In [15]:
#Transformar las columnas fecha de los 3 dataframe a datetime

#df['fecha'] = pd.to_datetime(df['fecha'])
#df1['fecha'] = pd.to_datetime(df1['fecha'])
#df2['fecha'] = pd.to_datetime(df2['fecha'])

In [17]:
df_vc = pd.concat([df3, df4, df5, df6, df7, df8, df9, df10, df11, df, df1, df2], ignore_index=True)

In [19]:
df_vc = df_vc.drop_duplicates().reset_index(drop = True)
df_vc.shape

(3666556, 25)

In [20]:
# df_vc["fecha"] = df_vc["fecha"].apply(lambda x : x.strftime("%Y-%m-%d"))

In [21]:
# unir los 3 csv en un solo df y ejecutar todo el notebook, hacer un drop_duplicates()
# guardar el csv total y separar los csv por año y guardar por separado
# FourSquare

df_vc.drop(["presMax","horaPresMax","presMin","horaPresMin","sol"], axis = 1, inplace = True)

In [22]:
indicativo_map = {indicativo : v for v, indicativo in enumerate(df_vc["indicativo"].unique(), start = 1)}

nombre_map = {nombre : v for v, nombre in enumerate(df_vc["nombre"].unique(), start = 1)}

provincia_map = {provincia : v for v, provincia in enumerate(df_vc["provincia"].unique(), start = 1)}

In [23]:
df_vc["indicativo_id"] = df_vc["indicativo"].map(indicativo_map)

df_vc["nombre_id"] = df_vc["nombre"].map(nombre_map)

df_vc["provincia_id"] = df_vc["provincia"].map(provincia_map)

In [24]:
df_indicativo = pd.DataFrame(indicativo_map.items(), columns = ["indicativo", "indicativo_id"])
df_indicativo = df_indicativo[["indicativo_id", "indicativo"]]

In [25]:
df_nombre = pd.DataFrame(nombre_map.items(), columns = ["nombre", "nombre_id"])
df_nombre = df_nombre[["nombre_id", "nombre"]]

In [26]:
df_provincia = pd.DataFrame(provincia_map.items(), columns = ["provincia", "provincia_id"])
df_provincia = df_provincia[["provincia_id", "provincia"]]

In [27]:
df_vc.drop(["indicativo", "nombre", "provincia"], axis = 1, inplace = True)

In [29]:
pd.merge(left = df_vc, right = df_indicativo, on = "indicativo_id")

,fecha,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,hrMedia,hrMax,...,hrMin,horaHrMin,dir,velmedia,racha,horaracha,indicativo_id,nombre_id,provincia_id,indicativo
0,2013-01-01,40,"8,1","1,4","4,5",23:20,"11,7",11:30,76.0,91.0,...,50.0,Varias,NaN,NaN,NaN,NaN,1,1,1,0255B
1,2013-01-01,410,"7,0","2,0","4,1",22:30,"9,8",13:00,91.0,94.0,...,85.0,01:10,36.0,"1,1","6,7",14:50,2,2,2,5612B
2,2013-01-01,808,"4,9","0,0","1,8",Varias,"8,0",15:50,88.0,93.0,...,74.0,16:00,30.0,"1,9","6,1",07:40,3,3,3,3094B
3,2013-01-01,582,"8,8","0,0","4,6",02:00,"13,0",13:50,65.0,88.0,...,47.0,13:00,28.0,"3,3","10,8",14:20,4,4,4,9394X
4,2013-01-01,17,"13,1","0,0","9,6",23:59,"16,6",15:20,67.0,80.0,...,56.0,14:30,23.0,"2,8","13,3",00:10,5,5,5,B434X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3666551,2024-11-01,1062,"13,2","0,6","9,4",06:30,"17,0",12:10,86.0,100.0,...,62.0,12:00,36.0,"0,8","5,8",13:20,134,133,42,3013
3666552,2024-11-01,1030,NaN,"113,0",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.0,"5,0","14,7",14:10,200,199,5,B248
3666553,2024-11-01,125,NaN,NaN,NaN,NaN,NaN,NaN,87.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,413,408,52,1344X
3666554,2024-11-01,340,"17,0","0,0","13,0",Varias,"21,1",14:33,83.0,96.0,...,64.0,Varias,NaN,NaN,NaN,NaN,375,370,15,1406X
3666555,2024-11-01,515,"16,5","0,4","12,0",22:51,"21,0",13:34,83.0,97.0,...,57.0,14:20,14.0,"1,7","7,5",15:30,666,659,6,8395X

In [30]:
df_vc.head(10)

,fecha,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,dir,velmedia,racha,horaracha,indicativo_id,nombre_id,provincia_id
0,2013-01-01,40,"8,1","1,4","4,5",23:20,"11,7",11:30,76.0,91.0,Varias,50.0,Varias,NaN,NaN,NaN,NaN,1,1,1
1,2013-01-01,410,"7,0","2,0","4,1",22:30,"9,8",13:00,91.0,94.0,Varias,85.0,01:10,36.0,"1,1","6,7",14:50,2,2,2
2,2013-01-01,808,"4,9","0,0","1,8",Varias,"8,0",15:50,88.0,93.0,Varias,74.0,16:00,30.0,"1,9","6,1",07:40,3,3,3
3,2013-01-01,582,"8,8","0,0","4,6",02:00,"13,0",13:50,65.0,88.0,09:10,47.0,13:00,28.0,"3,3","10,8",14:20,4,4,4
4,2013-01-01,17,"13,1","0,0","9,6",23:59,"16,6",15:20,67.0,80.0,Varias,56.0,14:30,23.0,"2,8","13,3",00:10,5,5,5
5,2013-01-01,88,"11,1","0,0","5,1",00:40,"17,1",14:00,56.0,79.0,06:20,40.0,13:20,24.0,"3,3","10,6",08:30,6,6,6
6,2013-01-01,715,"6,8","0,0","2,3",06:00,"11,3",13:50,71.0,93.0,Varias,53.0,13:50,33.0,"3,1","10,3",12:10,7,7,7
7,2013-01-01,874,"5,3","0,0","2,1",Varias,"8,5",14:20,85.0,99.0,Varias,64.0,14:50,26.0,"4,7","12,5",01:30,8,8,8
8,2013-01-01,43,"10,4","0,0","4,8",04:30,"16,0",13:50,67.0,81.0,00:30,47.0,13:50,28.0,"1,4","4,7",03:50,9,9,9
9,2013-01-01,25,"19,2","0,0","17,1",Varias,"21,4",14:35,64.0,78.0,Varias,54.0,01:04,3.0,"7,8","12,5",08:35,10,10,10

In [33]:
def clean_time(string):

    if string == "Varias" or pd.isna(string):
        return np.nan

    if string == "24:00":
        return "00:00"

    if string[0] not in ("0", "1", "2"):
        return np.nan
    if string[3] not in ("0", "1", "2", "3","4","5"):
        return np.nan

    return string

In [41]:
df_vc["horatmin"] = pd.to_datetime(df_vc["horatmin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horatmax"] = pd.to_datetime(df_vc["horatmax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaracha"] = pd.to_datetime(df_vc["horaracha"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaHrMin"] = pd.to_datetime(df_vc["horaHrMin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
df_vc["horaHrMax"] = pd.to_datetime(df_vc["horaHrMax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)

/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_14733/2929415804.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horatmin"] = pd.to_datetime(df_vc["horatmin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_14733/2929415804.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horatmax"] = pd.to_datetime(df_vc["horatmax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_14733/2929415804.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaracha"] = pd.to_datetime(df_vc["horaracha"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_14733/2929415804.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaHrMin"] = pd.to_datetime(df_vc["horaHrMin"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)
/var/folders/9m/h9bqsnt95t3bplz2w4d9fm4h0000gn/T/ipykernel_14733/2929415804.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_vc["horaHrMax"] = pd.to_datetime(df_vc["horaHrMax"].apply(lambda x : clean_time(x))).apply(lambda x : x.time() if not pd.isna(x) else x)

In [45]:
df_vc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3666556 entries, 0 to 3666555
Data columns (total 20 columns):
 #   Column         Dtype
---  ------         -----
 0   fecha          object
 1   altitud        int64
 2   tmed           object
 3   prec           object
 4   tmin           object
 5   horatmin       object
 6   tmax           object
 7   horatmax       object
 8   hrMedia        float64
 9   hrMax          float64
 10  horaHrMax      object
 11  hrMin          float64
 12  horaHrMin      object
 13  dir            float64
 14  velmedia       object
 15  racha          object
 16  horaracha      object
 17  indicativo_id  int64
 18  nombre_id      int64
 19  provincia_id   int64
dtypes: float64(4), int64(4), object(12)
memory usage: 559.5+ MB

In [46]:
def convertir_a_float(columna):
    # Reemplazar comas por puntos en la columna
    columna = columna.apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else x)
    # Intentar convertir a float, poniendo NaN en los valores no numéricos
    columna = pd.to_numeric(columna, errors='coerce')
    return columna
#"prec","tmin","horatmin","tmax","horatmax","velmedia","racha","horaracha","horaHrMax","horaHrMin"]].replace(str, np.nan).replace(",",".", regex=True).apply(pd.to_numeric, errors = "coerce")

In [47]:
df_vc["tmed"] = convertir_a_float(df_vc["tmed"])
df_vc["prec"] = convertir_a_float(df_vc["prec"])
df_vc["tmin"] = convertir_a_float(df_vc["tmin"])
df_vc["tmax"] = convertir_a_float(df_vc["tmax"])
df_vc["velmedia"] = convertir_a_float(df_vc["velmedia"])
df_vc["racha"] = convertir_a_float(df_vc["racha"])

In [48]:
df_vc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3666556 entries, 0 to 3666555
Data columns (total 20 columns):
 #   Column         Dtype
---  ------         -----
 0   fecha          object
 1   altitud        int64
 2   tmed           float64
 3   prec           float64
 4   tmin           float64
 5   horatmin       object
 6   tmax           float64
 7   horatmax       object
 8   hrMedia        float64
 9   hrMax          float64
 10  horaHrMax      object
 11  hrMin          float64
 12  horaHrMin      object
 13  dir            float64
 14  velmedia       float64
 15  racha          float64
 16  horaracha      object
 17  indicativo_id  int64
 18  nombre_id      int64
 19  provincia_id   int64
dtypes: float64(10), int64(4), object(6)
memory usage: 559.5+ MB

In [49]:
df_vc = df_vc[["fecha",
    "altitud",
    "tmed",
    "prec",
    "tmin",
    "horatmin",
    "tmax",
    "horatmax",
    "dir",
    "velmedia",
    "racha",
    "horaracha",
    "hrMedia",
    "hrMax",
    "horaHrMax",
    "hrMin",
    "horaHrMin",
    "indicativo_id",
    "nombre_id",
    "provincia_id"]]

In [50]:
df_22 = df_vc[df_vc["fecha"].between("2022-01-01", "2022-12-31")]
df_23 = df_vc[df_vc["fecha"].between("2023-01-01", "2023-12-31")]
df_24 = df_vc[df_vc["fecha"].between("2024-01-01", "2024-12-31")]
df_13 = df_vc[df_vc["fecha"].between("2013-01-01", "2013-12-31")]
df_14 = df_vc[df_vc["fecha"].between("2014-01-01", "2014-12-31")]
df_15 = df_vc[df_vc["fecha"].between("2015-01-01", "2015-12-31")]
df_16 = df_vc[df_vc["fecha"].between("2016-01-01", "2017-12-31")]
df_17 = df_vc[df_vc["fecha"].between("2017-01-01", "2017-12-31")]
df_18 = df_vc[df_vc["fecha"].between("2018-01-01", "2018-12-31")]
df_19 = df_vc[df_vc["fecha"].between("2019-01-01", "2019-12-31")]
df_20 = df_vc[df_vc["fecha"].between("2020-01-01", "2020-12-31")]
df_21 = df_vc[df_vc["fecha"].between("2021-01-01", "2021-12-31")]

In [51]:
df_vc['fecha']

0          2013-01-01
1          2013-01-01
2          2013-01-01
3          2013-01-01
4          2013-01-01
              ...
3666551    2024-11-01
3666552    2024-11-01
3666553    2024-11-01
3666554    2024-11-01
3666555    2024-11-01
Name: fecha, Length: 3666556, dtype: object

In [52]:
df_13.to_csv("df_13.csv", index = False)
df_14.to_csv("df_14.csv", index = False)
df_15.to_csv("df_15.csv", index = False)
df_16.to_csv("df_16.csv", index = False)
df_17.to_csv("df_17.csv", index = False)
df_18.to_csv("df_18.csv", index = False)
df_19.to_csv("df_19.csv", index = False)
df_20.to_csv("df_20.csv", index = False)
df_21.to_csv("df_21.csv", index = False)
df_22.to_csv("df_22.csv", index = False)
df_23.to_csv("df_23.csv", index = False)
df_24.to_csv("df_24.csv", index = False)
df_provincia.to_csv("provincia.csv", index = False)
df_nombre.to_csv("ciudades.csv", index = False)
df_indicativo.to_csv("indicativo.csv", index = False)

In [53]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 317963 entries, 2758010 to 3075972
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   fecha          317963 non-null  object
 1   altitud        317963 non-null  int64
 2   tmed           312380 non-null  float64
 3   prec           308182 non-null  float64
 4   tmin           312475 non-null  float64
 5   horatmin       290588 non-null  object
 6   tmax           312508 non-null  float64
 7   horatmax       302973 non-null  object
 8   dir            253726 non-null  float64
 9   velmedia       254644 non-null  float64
 10  racha          253726 non-null  float64
 11  horaracha      238459 non-null  object
 12  hrMedia        297711 non-null  float64
 13  hrMax          303820 non-null  float64
 14  horaHrMax      200998 non-null  object
 15  hrMin          303840 non-null  float64
 16  horaHrMin      269595 non-null  object
 17  indicativo_id  317963 non-null  int64
 18  nombre_id      317963 non-null  int64
 19  provincia_id   317963 non-null  int64
dtypes: float64(10), int64(4), object(6)
memory usage: 50.9+ MB